/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* Default */
:root{
    --primary : #ffb700c4;
    --secondary : rgb(206, 232, 255);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

/* Log In Page */

.login-pg{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--secondary)
}

.login-img{
    width: 100%;
    height: 550px;
}

.login-container{
    background-color: white;
    width: 800px;
    height: 550px;
    box-shadow: 1px 1px 5px 5px rgb(155, 155, 155);
}

.loginform{
    height: 100%;
    padding: 0px 20px;
}

.loginform input[type=text],input[type=password]{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #666;
    text-align: center;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 10px;
    border: none;
}

input:focus{
    outline: none;
}

.iconSettings{
    overflow: hidden;
}

/* Navigation Bar */
.iconSettings img,.searchbar img{
 width: 20px;
 height: 15px;
 margin: 5px;
 cursor: pointer;
}

.iconSettings i:hover,.searchbar i:hover{
    color: white!important;
    position: relative;
    top: -3px;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary);
    font-weight: 500;
}

.nav-item:hover{
    background-color: var(--primary);
    border-radius: 15px;
}
/* Home Page */
.page-container {
    height: calc(100vh - 150px);
}

/* Contact */
.contact-row{
    width: 900px;
}

.contact-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.719)), url(../img/contactus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formcontrol{
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    margin: 15px 0px;
}

.formcontrol:focus{
    color: white!important;
}

.icon-holder{
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0px 15px;
}

/* Cart Orders */


.product-img{
    width: 250px;
    height: 200px;
}

.product-img img{
    width: inherit;
    height: inherit;
}

/* Media Queries */

/* LOGIN Page */

/* sm to md device */
@media screen and (max-width: 1240px){

}

@media screen and (max-width: 993px){
    .login-container{
        height: 100vh;
        width: 100vw;
        background-color: var(--primary);
    }

    .hideonmobile{
        display: none;
    }

    .product-img{
        width: 200px;
        height: 150px;
    }

    .nav-item:hover{
        background-color: unset;
        border-radius: unset;
    }

    #navbarSupportedContent{
        text-align: center;
    }

    .searchbar{
        width: 300px;
        margin: auto;
    }
    .page-container{
        height: auto;
    }
}

@media screen and (min-width: 992px) {

    .nav-item{
        margin: 0!important;
    }
    .hideonpc{
        display: none;
    }

    .userDisplay p {
        font-size: 0.8rem;
    } 
}

