/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* Default */
:root{
    --primary : #ffb700c4;
    --secondary : rgb(206, 232, 255);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

/* Log In Page */

.font-pops{
    font-family: 'Poppins', sans-serif;
}

.font-mons{
    font-family: 'Montserrat', sans-serif;
}

.login-pg{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--secondary)
}

.login-img{
    width: 100%;
    height: 550px;
}

.login-container{
    background-color: white;
    width: 800px;
    height: 550px;
    box-shadow: 1px 1px 5px 5px rgb(155, 155, 155);
}

.loginform{
    height: 100%;
    padding: 0px 20px;
}

.loginform input[type=text],input[type=password]{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #666;
    text-align: center;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 25px;
    border: none;
}

input:focus{
    outline: none;
}

.iconSettings{
    overflow: hidden;
}

/* Navigation Bar */

.top-nav{
    font-size: 0.8rem;
}

.iconSettings i:hover,.searchbar i:hover{
    color: orange!important;
    position: relative;
    top: -3px;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary);
    font-weight: 500;
}

.nav-item:hover{
    background-color: var(--primary);
    border-radius: 15px;
}
/* Home Page */
.basket-img{
    width: 45vw;
}

/* Contact */
.contact-row{
     height: 530px;
}

.contact-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.719)), url(../img/contactus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formcontrol{
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    margin: 15px 0px;
    color: white;
}

.formcontrol:focus{
    color: white!important;
}

.icon-holder{
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0px 15px;
}

/* Cart Orders */
.text-right {
  text-align: right !important;
}

/* ORDER SUMMARY */

.order-tab{
    padding:10px;
    cursor: pointer;
    border: 1px solid rgb(182, 182, 182);
}

.order-tab:nth-child(1):hover,
.order-tab:nth-child(2):hover,
.order-tab:nth-child(3):hover,
.order-tab:nth-child(4):hover
{
    background-color: var(--primary);
    color: white;
    font-weight: 700;
}
/* Media Queries */

/* SMALL device */
@media screen and (max-width: 766px){
    .contact-row{
        margin-top: 0px !important;
    }

    .top-nav{
        font-size: 0.65rem;
    }

    .hideonSMmobile{
        display: none;
    }
}

/* SMALL to MEDIUM Device */
@media screen and (max-width: 993px){

    /* LOGIN PAGE */
    .login-container{
        height: 100vh;
        width: 100vw;
        background-color: var(--primary);
    }

    /* HOME */
    .basket-img{
        width: 35vh;
    }

    .hideonmobile{
        display: none;
    }

    .nav-item:hover{
        background-color: unset;
        border-radius: unset;
    }

    #navbarSupportedContent{
        text-align: center;
    }

    .searchbar{
        width: 300px;
        margin: auto;
    }


}

@media screen and (min-width: 992px) {

    .nav-item{
        margin: 0!important;
    }
    .hideonpc{
        display: none;
    }

    .userDisplay p {
        font-size: 0.8rem;
    } 

    .randomProducts{
        width: 200px;
    }
}

